<!-- quest 01 & 02 -->

<!-- <app-block class="top-left"></app-block>
<app-block class="top-right"></app-block>
<app-block class="bottom-left"></app-block>
<app-block class="bottom-right"></app-block>
<app-mon-composant></app-mon-composant>
<app-user-profile></app-user-profile> -->

<!-- quest 03 -->
<!-- <app-directive></app-directive> -->

<!-- quest 04 intro -->
<!-- <ul>
    <li>
      <a [routerLink]="['/home']">HOME</a>
    </li>
    <li>
      <a [routerLink]="['/contact']">CONTACT</a>
    </li>
  </ul>
  
  <router-outlet></router-outlet> -->

  <app-menu></app-menu>